---
docnow_user: "docnow"  # the docnow user
users_group_list:
  - name: "{{ docnow_user | default(docnow) }}"

users_user_list:
  - name: "{{ docnow_user | default(docnow) }}"
    comment: Docnow User
    sudo_options: "ALL=(ALL) NOPASSWD: ALL"

users_create_home: true
postgresql_port: 5432
postgresql_listen_addresses: 127.0.0.1  # the database listens server is local
postgresql_unix_socket_directories: /var/run/postgresql
postgresql_max_wal_size: 1GB
postgresql_min_wal_size: 80MB
postgresql_log_timezone: UTC
postgresql_datestyle: iso, ymd
postgresql_timezone: UTC
postgresql_default_text_search_config: pg_catalog.english

postgresql_hba_entries:
  - type: local
    database: all
    user: postgres
    method: ident
  - type: local
    database: all
    user: docnow
    method: peer
  - type: host
    database: all
    user: postgres
    address: 127.0.0.1/32
    method: ident
  - type: host
    database: docnow_dev
    user: docnow
    address: 127.0.0.1/32
    method: ident  # connection for the docnow database ok for local docnow user
postgresql_databases:
  - name: "docnow_dev"
postgresql_users:
  - name: "docnow"
    password: "Change_me"
    db: "docnow_dev"
    priv: "ALL"
    role_attr_flags: "SUPERUSER"

db_hostname: "127.0.0.1"
db_username: "docnow"
db_password: "Change_me"
db_name: "docnow_dev"
node_env: "production"
redis_host: "127.0.0.1"

docnow_app_root: "/var/local/docnow_app/docnow/"  # location of application
