[Unit]
Description=DocNow Tweet Loader

[Service]
User={{ docnow_user }}
WorkingDirectory={{ docnow_app_root }}
ExecStart=/usr/bin/npm run tweet-loader
Restart=always

[Install]
WantedBy=multi-user.target
