[Unit]
Description=DocNow Stream Loader

[Service]
User={{ docnow_user }}
WorkingDirectory={{ docnow_app_root }}
ExecStart=/usr/bin/npm run url-fetcher
Restart=always

[Install]
WantedBy=multi-user.target
