[digitaloceanvm]
1.2.3.4 # (modify this with your Digital Ocean Provider IP address)
[aws]
1.2.2.4 # (modify this with your AWS Lightsail Provider IP address)
[linode]
1.1.4.7 # (modify this with your Linode Provider IP address)
