{{ ansible_managed | comment }}
server {
    listen       {{ nginx_port }};
    server_name  _;

    root "{{ docnow_app_root }}/public";

    # Passenger
	passenger_enabled on;

	# Nodejs
	passenger_app_type node;
	passenger_startup_file dist/commands/server.js;
	passenger_app_root "{{ docnow_app_root }}";

    }


